body {
    background-color: #D2B48C;
}

table {
    border-collapse: collapse;
    border: 5px solid #FFFFFF;
    width: 50%;
    background-color: #F08080;
}


th, td {
    padding: 2px;
    border: 2px solid #FFFFFF;
}

th {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFF99;
    color: #696969;
}

td {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;  
}

tr:nth-child(even) {background-color: #EDEDED;}

tr:hover {background-color: #CCCCCC;}

 .right {text-align:left;}
 
 .left {text-align:left;}
 
 a.deleteLink {color:#696969; text-decoration:none;}
 a.deleteLink:hover {color:#696969; text-decoration:underline;}